#cloud-config
package_update: true
package_upgrade: true

packages:
  - docker.io
  - docker-compose-plugin
  - git

runcmd:
  # Docker starten
  - systemctl enable docker
  - systemctl start docker

  # Repo klonen
  - rm -rf /opt/app
  - git clone https://github.com/Theodor-v-B/Herz_Seele.git /opt/app

  # .env anlegen
  - |
    cat <<EOF > /opt/app/.env
    POSTGRES_USER=admin
    POSTGRES_PASSWORD=password123
    POSTGRES_DB=anlaufstellen

    PGHOST=postgres
    PGUSER=admin
    PGPASSWORD=password123
    PGDATABASE=anlaufstellen
    PGPORT=5432
    EOF

  # Container starten (Compose v2)
  - cd /opt/app && docker compose up -d --build